<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Hellow world</title>
	{{>header/materialize}}
</head>
<style>
#container{
	margin: 0 auto;
	width: 960px;
	font-family: Verdana;
}
img{
	display: block;
	margin: auto;
}
</style>
<body>
	<div id="container">
	{{>menu}}
	<h2>Main LAYOUT</h2>
		{{{body}}}
	</div>
</body>
</html>